//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include "keymap_swedish.h"

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600

#define DEFAULT 0
#define NAV 1
#define SPEC 2
#define NUM 3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {

    behaviors {
    
        parangle_left: angle_morph_left {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SE_LPRN>, <&kp SE_LABK>; 
            mods = <(MOD_LSFT)>;
         };

        parangle_right: angle_morph_right {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SE_RPRN>, <&kp SE_RABK>; 
            mods = <(MOD_LSFT)>;
         };

        // SE_ODIA Ö
        O_morph_ODIA: odia { 
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp O>, <&kp SE_ODIA>; 
            mods = <(MOD_LALT)>;
         };

         // SE_ADIA Ä
        L_morph_ADIA: adia { 
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp SE_ADIA>; 
            mods = <(MOD_LALT)>;
         };

        // SE_ARNG Å
        P_morph_ARNG: arng { 
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp SE_ARNG>; 
            mods = <(MOD_LALT)>;
         };
    };

    combos {
        compatible = "zmk,combos";

        tab {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp TAB>;
            layers = <0>;
        };

        enter {
            timeout-ms = <50>;
            key-positions = <0 10>;
            bindings = <&kp ENTER>;
            layers = <0>;
        };

        Win {
            bindings = <&kp LEFT_WIN>;
            key-positions = <21 33>;
            slow-release;
            layers = <0>;
        };

        escape {
            timeout-ms = <50>;
            bindings = <&kp ESC>;
            key-positions = <3 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
           &kp Q             &kp W  &kp E     &kp R      &kp T      &kp Y     &kp U    &kp I      &O_morph_ODIA  &P_morph_ARNG
           &kp A             &kp S  &kp D     &kp F      &kp G      &kp H     &kp J    &kp K      &L_morph_ADIA  &kp DEL
&kp LSHFT  &kp LEFT_CONTROL  &kp Z  &kp X     &kp C      &kp V      &kp B     &kp N    &kp M      &kp COMMA      &kp DOT  &kp BSPC
                                    &kp LALT  &kp SPACE  &mo NUM    &mo SPEC  &mo NAV  &kp ENTER
            >;
        };

        navigation_layer {
            bindings = <
        &mkp MCLK  &mkp RCLK       &mmv MOVE_UP    &mkp LCLK        &msc SCRL_UP      &trans  &kp HOME  &kp UP    &kp END    &kp PAGE_UP
        &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN    &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp PAGE_DOWN
&trans  &trans     &trans          &trans          &trans           &trans            &trans  &none     &none     &none      &trans         &trans
                                   &trans          &trans           &trans            &trans  &none     &trans
            >;

            label = "NAV";
        };

        special_layer {
            bindings = <
        &kp SE_DLR   &kp SE_AT  &kp SE_PERC  &kp SE_AMPR  &kp SE_PIPE    &kp SE_PLUS  &kp SE_LCBR     &kp SE_RCBR      &kp SE_GRV   &kp SE_CIRC
        &kp SE_EURO  &trans     &kp SE_HASH  &kp SE_SLSH  &kp SE_BSLS    &kp SE_MINS  &parangle_left  &parangle_right  &kp SE_QUOT  &kp SE_TILD
&trans  &kp SE_PND   &trans     &kp SE_EQL   &kp SE_EXLM  &kp SE_QUES    &kp SE_ASTR  &kp SE_LBRC     &kp SE_RBRC      &kp SE_DQUO  &trans       &trans       
                                     &trans       &trans       &trans    &none        &trans          &trans
            >;

            label = "SPEC";
        };

        num_layer {
            bindings = <
        &kt F1  &kp F2  &kp F3  &kp F4   &kp F5     &kp SE_PLUS  &kp SE_7  &kp SE_8  &kp SE_9  &kp SE_EQL
        &kp F6  &kp F7  &kp F8  &kp F9   &kp F10    &kp SE_MINS  &kp SE_4  &kp SE_5  &kp SE_6  &kp SE_COMM
&trans  &trans  &trans  &trans  &kp F12  &kp F11    &kp SE_ASTR  &kp SE_1  &kp SE_2  &kp SE_3  &kp DOT      &kp BACKSPACE
                        &trans  &trans   &none      &trans       &trans    &kp SE_0
            >;

            label = "NUM";
        };
    };
};
